{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>My App</title>

  <!-- Bootstrap core CSS --> 
  <link href='{% static "mainapp/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  
  <!-- Custom fonts for this template -->
  <link href='{% static "mainapp/vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href='{% static "mainapp/css/clean-blog.css" %}' rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../../static/mainapp/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Hello, I'm YeongMin</h1>
            <span class="subheading">Passionate Creative Versatile Developer</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <!-- About -->

  <section id="about">

        {% if user.is_authenticated %}
            <form style="display: inline">
                <input class="MyButton" type="button" value="추가" 
                onclick="window.location.href='/index/about/write'" />
                </form>
        {% endif %}

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About</h2>
          <h3 class="section-subheading text-muted">l'existence précède l'essence</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            {% for timeline in timelineList%}

              
                {% if user.is_authenticated %}
                <li class="hiddenLi">
                  <span class = "btnSet">
                    <form style="display: inline">
                      <input class="MyButton" type="button" value="수정" 
                      onclick="window.location.href='/profile/timeline/edit/{{timeline.pk}}'" /></form>
                    <form style="display: inline">
                      <input class="MyButton" type="button" value="삭제" 
                      onclick="window.location.href='/profile/timeline/delete/{{timeline.pk}}'" /></form>
                  </span>
                </li>
                {% endif %}
              
            
              {% if forloop.counter0|divisibleby:2 %}
                <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluidd" src="{{ timeline.image.url }}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{timeline.date}}</h4>
                  <h4 class="subheading">{{timeline.title}}</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">{{timeline.contents | linebreaksbr}} </p>
                </div>
              </div>
              
            </li>
              
              {% else %}
              <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluidd" src="{{ timeline.image.url }}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{timeline.date}}</h4>
                  <h4 class="subheading">{{timeline.title}}</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">{{timeline.contents | linebreaksbr}}</p>
                </div>
              </div>
            </li>

              {% endif %}              
            {% endfor %}
  
          

            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>To be
                  
                  <br>Continued
                  <br>...!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
  
            <li class="list-inline-item">
              <a href="https://github.com/horoyoii">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Hello world?? 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src='{% static "mainapp/vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

  <!-- Plugin JavaScript -->
  <script src='{% static "mainapp/vendor/jquery-easing/jquery.easing.min.js" %}'></script>


  <!-- Custom scripts for this template -->
  <script src='{% static "mainapp/js/clean-blog.min.js" %}'></script>
  
  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>


  <!--For timeline -->
  <!-- Custom scripts for this template -->
  <script src='{% static "mainapp/js/agency.min.js" %}'></script>


</body>

</html>
