{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Horoyoii's Projects</title>

  <!-- Bootstrap core CSS --> 
  <link href='{% static "projects/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  
  <!-- Custom fonts for this template -->
  <link href='{% static "projects/vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href='{% static "projects/css/projects.css" %}' rel="stylesheet">
  <link href='{% static "mycss.css" %}' rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">  Horoyoii's Projects</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Login</a>
          </li>
          <li class="nav-item">
            <div class = "ChoiceLan">
              <form style="display:inline;margin-right:0px;">
                <input type="button" value="Kor" onclick="window.location.href='/projects'" class="lanbtn btnn" />
              </form>
              <form style="display:inline">
                <input type="button" value="Eng" onclick="window.location.href='/projects'" class="lanbtn btnn" />
              </form>
            </div>
          </li> 
        </ul>
      </div>
    </div>
  </nav>


  <div class="mainContainer"> 
    <div id="mySidenav" class="sidenav">
      <h3 id = "allnav"><a href="/projects">ALL</a></h3>
      
      <!--<a href="#">Services</a>-->
      <h3>Language</h3>
        <div class="classification">
          <a href="/projects/language/CL">C</a>
          <a href="/projects/language/CP">C++</a>
          <a href="/projects/language/PY">Python</a>
          <a href="/projects/language/JV">Java</a>          
        </div>
      <h3>Platform</h3>
        <div class="classification">
          <a href="/projects/platform/DS">Desktop App</a>
          <a href="/projects/platform/AP">Mobile App</a>
          <a href="/projects/platform/WB">Web</a>
          <a href="/projects/platform/IM">Imbedded</a>    
          <a href="/projects/platform/ET">ETC</a>          
        </div>      
    </div>

    <div id="LeftContainer">
      <div id = "headder">
        <header style="background-image: url('img/post-bg.jpg')">
            <h4>{{maxim | linebreaksbr}}</h4>
        </header>
        
        {% if user.is_authenticated %}
          <form style="display: inline">
            <input class="MyButton" type="button" value="추가" 
              onclick="window.location.href='/projects/write'" />
          </form>
        {% endif %}

      </div>




<!-- Portfolio Grid -->
  <section id="portfolio">
    <div class="container">
      
      <div class="row">

        {% for project in projectsList %}
        <!--// Item -->
        <div class="col-md-4 col-sm-6 portfolio-item" style="min-width:300px">
          <a class="portfolio-link" data-toggle="modal" href="#mod{{project.pk}}">
            <!--Flag-->
            <div class="date">
              <span class="day">{{project.date |date:"d"}}</span>
              <span class="month">{{project.date |date:"M"}}</span>
              <span class="year">{{project.date |date:"Y"}}</span>
           </div>
           <!--Flag-->
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{project.imageURLGit}}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>{{project.subtitle}}</h4>
            <p class="text-muted">{{project.subContents | linebreaksbr}}</p>
          </div>

            {% if user.is_authenticated %}
             <span class = "btnSet">
              <form style="display: inline">
                <input class="MyButton" type="button" value="수정" 
                onclick="window.location.href='/projects/edit/{{project.pk}}'" /></form>
              <form style="display: inline">
                <input class="MyButton" type="button" value="삭제" 
                onclick="window.location.href='/projects/delete/{{project.pk}}'" /></form>
             </span>
            {% endif %}


        </div>



        <!-- Item // -->
        {%endfor%}        

            </div>
          </div>
        </section>

        <hr class="myHR">
      </div>

    </div>


  </div>

   <!-- Portfolio Modals -->
  {% for project in projectsList %}
    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="mod{{project.pk}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="">
                <div class="modal-body">
                   
                   {{project.formatted_markdown | safe }}
                  
                 <!--                 
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Threads</li>
                    <li>{{project.subtitle}}</li>
                  </ul>
                  -->
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fas fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  {%endfor%}   

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://github.com/horoyoii">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src='{% static "projects/vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "projects/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

  <!-- Plugin JavaScript -->
  <script src='{% static "projects/vendor/jquery-easing/jquery.easing.min.js" %}'></script>


  <!-- Custom scripts for this template -->
  <script src='{% static "projects/js/projects.min.js" %}'></script>
  
  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>


  <!--For timeline -->
  <!-- Custom scripts for this template -->
  <script src='{% static "projects/js/agency.min.js" %}'></script>

</body>

</html>
